@import '../../components/defaultStyles/Colors.scss';
@import '../../components/defaultStyles/MediaQueries.scss';

.dashboard {
    background: $bg;
    display: flex;

    main {
        display: flex;
        flex-flow: column nowrap;
        gap: 32px;
        padding: 80px;
        width: 100%;
        .userOptions {
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            align-items: center;
            gap: 16px;
            @include screen-size(tablet-only){
                justify-content: center;
            }
        }
        @include screen-size(tablet-only){
            padding: 40px;
        }
        @include screen-size(phone-only){
            padding: 20px;
        }
    }
    &-table {
        @include screen-size(desktop-only){
            overflow-x: auto;
        }
    }
    &-sidebar {
        @include screen-size(tablet-only){
            display: none;
        }
    }
    &-sidebar-mobile {
        // display: none;
        @include screen-size(tablet-only){
            display: block;
        }
    }
    @include screen-size(tablet-only){
        flex-flow: column nowrap;
    }
}