@import '../../components/defaultStyles/Colors.scss';

.dashboard {
    background: $bg;
    display: flex;
    main {
        display: flex;
        flex-flow: column nowrap;
        gap: 32px;
        padding: 80px;
        width: 100%;
        .userOptions {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            gap: 16px;
            &-single {
                flex: 20%;
            }
        }
    }
    &-table {
        overflow-x: auto;
    }
}