@import '../../components/defaultStyles/Colors.scss';
@import '../../components/defaultStyles/MediaQueries.scss';

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .header-input{
        display: flex;
        border: 1px solid black;
        border-radius: 10px;
        input[type='text']{
            padding: 0.5em;
            border: none;
            outline: none;
        }
        &-search{
            padding: 0.5em;
            border-top-right-radius: 10px;
            border-bottom-right-radius: 10px;
            background: $secondary;
        }
    }
    .nav-profile {
        display: flex;
        align-items: center;
        gap: 0.5em;
        &-user {
            display: flex;
            align-items: center;
        }
    }
}